body {
    background-image: url(../img/montañabackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 40px;
}

div {
    background-color: #ffffff69;
    border-color: black;
    border-radius: 5px;
}