body {
    background-image: url(../img/montañabackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
}

div {
    background-color: #ffffff69;
    border-color: black;
    border-radius: 5px;
}